# --- 作業系統與開發工具 (OS & IDE) ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.bak

# --- Python ---
__pycache__/
venv_odoo*/

# --- private ---
筆記.md

# =========================================================
# ODOO 全版本通用自動優化規則
# =========================================================

odoo-[0-9]*.*/.github/
odoo-[0-9]*.*/addons/
odoo-[0-9]*.*/debian/
odoo-[0-9]*.*/doc/
odoo-[0-9]*.*/docs/
odoo-[0-9]*.*/odoo/
odoo-[0-9]*.*/setup/
odoo-[0-9]*.*/.weblate.json
odoo-[0-9]*.*/CONTRIBUTING.md
odoo-[0-9]*.*/COPYRIGHT
odoo-[0-9]*.*/LICENSE
odoo-[0-9]*.*/MANIFEST.in
odoo-[0-9]*.*/odoo-bin
odoo-[0-9]*.*/requirements.txt
odoo-[0-9]*.*/setup.cfg
odoo-[0-9]*.*/setup.py
odoo-[0-9]*.*/COPYRIGHT
odoo-[0-9]*.*/COPYRIGHT

.claude/settings.local.json
