.o_sol_bg_service > td {
    background-color: rgba(13, 110, 253, 0.08) !important;
}

.o_sol_bg_consu > td {
    background-color: rgba(25, 135, 84, 0.08) !important;
}

.o_sol_bg_combo > td {
    background-color: rgba(255, 193, 7, 0.12) !important;
}
